# Project exclude paths
/node_modules/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/otus_final_project.iml
/.idea/workspace.xml
/.idea/vcs.xml
/example.png
/allure-2.13.5/
/allure-results/
/allure-2.13.5/bin/allure-results/
